@using RepoGovernance.Core.Models
@model SummaryItemConfig
@{
    ViewData["Title"] = "Configuration";
}

<h1>Config</h1>

<span>User: @Model.SummaryItem?.User</span><br />
<span>Owner: @Model.SummaryItem?.Owner</span><br />
<span>Repo: @Model.SummaryItem?.Repo</span><br />

