@using RepoGovernance.Core.Models
@model SummaryItemConfig
@{
    ViewData["Title"] = "Configuration";
}

<h1>Config</h1>

<span>Owner: @Model.SummaryItem?.Owner</span>
<span>Repo: @Model.SummaryItem?.Repo</span>
