html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tooltip-inner {
    white-space: pre-wrap;
}

.redHeart {
    color: red;
    height: 32px;
    width: 32px;
}

.greenHeart {
    color: green;
    height: 32px;
    width: 32px;
}