html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

.tooltip-inner {
    white-space: pre-wrap;
}

.redHeart {
    color: red;
    height: 32px;
    width: 32px;
}

.greenHeart {
    color: green;
    height: 32px;
    width: 32px;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    background-color: lightgray;
    font-size: 14px;
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
}

.rowStyle {
    border-width: 1px;
    border-color: #d0d7de;
    border-style: solid;
    padding: 20px;
}

.row + .row {
    border-top: 0;
}

.projectHeader {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.publicPrivateLabel {
    border-width: 1px;
    border-color: #d0d7de;
    border-radius: 2em;
    border-style: solid;
    font-size: 12px;
    font-weight: 500;
    color: #57606A;
}

.descriptionText {
    font-size: 14px;
    color: #57606A;
}

.lastUpdatedText {
    font-size: 12px;
    color: #57606A;
}

.lastUpdatedRedText {
    font-size: 12px;
    color: red;
}